body{
    background: bisque;
    font-family: cursive;
}

header{
    margin: 2% 18%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .1em solid red;
}

main{
    text-align: center;
    margin: -3% 5%;
}

form{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0%;
    padding: 0%;
    text-align: center;
    transform: scale(1);
}

input{
    margin: 5% -13%;
    padding: .8em;
    border:  .5px inset blue;
    border-radius: 10px;
}

.button{
    border: none;
    margin: 2% 30%;
    padding: .6em;
}


.submit{
    border:  none;
    margin: 2% 30%;
    padding: .6em;
}

@keyframes Hide {
    0%{
        transform: scale(1.4);
        color: red;
    }
    50%{
        transform: scale(1.2);
        color: brown;
    }
    100%{
        transform: scale(1);
        color: bisque;
    }
}

footer{
    margin: 7% 5%;
    background: none;
}
