body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page-h1{
  color: rgb(181, 181, 198);
  text-align: center;
  animation: alt 5s linear infinite;
}
@keyframes alt {
  from{
    filter: hue-rotate(360deg);
  }
  to{
    filter: hue-rotate(0deg);
  }
}


header {
  background-image: url(color.jpg);
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 20px;
  font-family: cursive;
  color: #a9bedc;
  text-decoration: none;
}

main {
  text-align: center;
}

.news-section {
  min-width: 80%;
  height: auto;
  background-image: url(color.jpg);
  padding: 2em;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-article {
  width: 30%;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.news-article h2 {
  font-weight: bold;
  margin-top: 0;
}

.news-article p {
  margin-bottom: 20px;
}

.news-article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background-image: url(color.jpg);
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}
